# ignore all files by default
*

# specify only the config files we want to store
!.zshrc
!.bashrc
!.tigrc
!.oh-my-zsh/
!.vim
!.vimrc

# specify .gitignore since we actually want to track it
!.gitignore
