# ignore all files by default
*

# specify only the config files we want to store
!.zshrc
!.bashrc
!.tigrc
!.oh-my-zsh/
!.vim
!.vimrc
!.fzf.bash
!.fzf.zsh
!setup_process

# specify .gitignore since we actually want to track it
!.gitignore
